@charset "utf-8";
.pd15{
	padding:0 0.2rem;
}

.content{
	width: 10.0rem;
	margin:0 auto;
	padding-top:1.173333rem;
	//搜索
	.search{
		width: 10.0rem;
		line-height: 1.173333rem;
		text-align: center;
		background-image: linear-gradient(to right, #ff3c85, #ff57b2);
		overflow: hidden;
		position:fixed;
		top:0;
		.searchText{
			width: 9.36rem;
		    line-height: 0.746667rem;
		    border-radius: 28px;
		    display: inline-block;
		    background-color: #fff;
		    color: #282829;
			font-size: 0.346667rem;

		}
		.searchText:before{
			width: 0.333333rem;
			height: 0.333333rem;
			content: '';
			display: inline-block;
			vertical-align: middle;
			background:url(./views/../images/re.png);
			background-size:100% 100%;
			margin-right: 0.133333rem;
			margin-top: -0.04rem;
			position: relative;
		}

		.inputWarp:before{
			position:absolute;
			left: 0.666667rem;
			top:0.466667rem;
			width: 0.333333rem;
			height: 0.333333rem;
			content: '';
			display: inline-block;
			vertical-align: middle;
			background:url(./views/../images/re.png);
			background-size:100% 100%;
			margin-right: 0.133333rem;
			margin-top: -0.04rem;
		}
		
		.inputWarp{
			width: 8.906667rem;
			float: left;
			position:relative;
			input{
			  width: 8.266667rem;
			  line-height: 0.746667rem;
			  border-radius: 0.373333rem;
			  background-color: #ffffff;
			  margin-top: -0.066667rem;
			  border:none;
			  font-size: 0.346667rem;
			  text-indent:0.8rem;
			}
			.close{
				position:absolute;
				right: 0.533333rem;
				top:0.4rem;
				width: 0.4rem;
				height: 0.4rem;
				background:url(./views/../images/close.png);
				background-size:100% 100%;
			}
		}
		
		span{
			 color: #ffffff;
			 font-size: 0.426667rem;
			 float: left;
			 vertical-align: middle;
			 a{
			 	color: #fff;
			 }
		}
	}
	

	//宝贝列表
	.itemWarp{
		.title{
			 font-size: 0.48rem;
			 color: #282829;
			 text-align: center;
			 line-height: 1.0rem;
			 span{
			 	width: 1.333333rem;
				height: 0.013333rem;
				opacity: 0.6;
				background-color: #282829;
				display: inline-block;
				vertical-align: middle;
			 }
			 font{
			 	padding: 0 0.266667rem;
			 }
		}
		.itemContent{
			overflow: hidden;
			.itemList:nth-child(2n){
				float: right;
				
			}
			.itemList:nth-child(2n-1){
				float: left;
			}
			.itemList{
				overflow: hidden;
				width: 4.933333rem;
				background:#fff;
				margin-bottom: 0.133333rem;
				display: inline-block;
				img{
					width: 100%;
  					height: 4.946667rem;
				}
				.itemTitle{
					font-size: 0.373333rem;
  					font-weight: 200;
  					color: #282829;
  					line-height: 0.8rem;
  					width: 100%;
				}
				.itemCoupon{
					span{
						
						color: rgba(0, 0, 0, 0.3);
						font-size: 0.32rem;
					}
					div{
						min-width: 0.866667rem;
  						line-height: 0.4rem;
  						float: right;
  						background:url(./views/../images/label.png);
  						background-size:100% 100%;
  						padding-left:0.56rem;
  						text-align: center;
  						color: #ff5d02;
  						font-size: 0.24rem;
  						margin-top: 0.066667rem;
					}
				}
				.itemPrice{
					div.fl{
						font-size: 0.48rem;
						color: #e60000;
						font-weight: bold;
						line-height: 0.8rem;
					}
					div.fr{
						font-size: 0.32rem;
						font-weight:bold;
						color: rgba(0, 0, 0, 0.5);
						line-height: 0.8rem;
					}
				}
			}
		}
	}
}