@charset "utf-8";
//导航
nav{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 100000;
	overflow: hidden;
	padding: 0.233333rem 0 0.103333rem;
	background-color: #ffffff;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
	li{
		width: 25%;
		float: left;
		text-align:center;
		
		a{
			overflow: hidden;
			display: block;
			span{
				
				 color: #282829;
				 font-size: 0.32rem;
			}
		}
		img{
			display: block;
			margin: 0 auto;
			height: 0.5rem;
			margin-bottom:0.053333rem;
		}
	}
}
